.media
  .media-left
    %a{href: "#"}
      = image_tag(comment.user.avatar, class: "media-object", alt: "64x64", height: "64px", width: "64px", data: {src: "holder.js/64x64"}, data: {holder: {rendered: "true"}})
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.nickname
      %a.anchorjs-link{href: "#top-aligned-media"}
        %span.anchorjs-icon
    %p= comment.text
