.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          %a{href: "#"} Popular PROTO
        %li{role: "presentation"}
          %a{href: "#"} Newest PROTO
      = button_to "View Tags", tags_path, class: "btn btn-default col-lg-1", method: :get

.container.proto-list
  .row#prototype-content
    = render @prototypes

.text-center
  %ul.pagination
    = paginate @prototypes
