.container
  .row
    .tags-list
      %h2 Tags List
      %ul
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
        %li.col-md-4
          %a.btn.btn-default{href: "#"} アプリ
