// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-list {
  h2 {
    font-weight: 100;
    margin-bottom: 20px;
  }

  ul {
    overflow: hidden;
    padding: 0;
    margin: 30px 0;
    list-style: none;

    li {
      margin-bottom: 10px;

      a {
        display: block;
        text-align: left;
        padding: 20px;
        border-radius: 3px;
      }
    }
  }
}
